NET	UDS	LOC = "P11";
NET VSYNC_OUT	LOC = "P12";
NET HSYNC_OUT	LOC = "P13";
#A3-4
NET BLANK_OUT	LOC = "P16";
#A5-1
NET	OSC48	LOC = "P22";

NET	RESET	LOC = "P99";
NET	TP1	LOC = "P1";
NET	TP2	LOC = "P2";
NET	TP3	LOC = "P3";
NET	TP4	LOC = "P4";
NET	HSYNC	LOC = "P6";
NET	VSYNC	LOC = "P7";
NET	BLANK	LOC = "P8";
NET	RW	LOC = "P9";
NET	LDS	LOC = "P10";

#A10,9,7
NET	CLK	LOC = "P27";
#A8,11-15

#D6-0

#A16-23
NET	DTACK	LOC = "P46";		
NET	AS	LOC = "P49";

#D15-7

NET PICOHSYNC LOC = "P65";
NET PICOVSYNC LOC = "P66";
NET SHIFTEREN LOC = "P72";
NET PICOEN	  LOC = "P73";

#PICO BLOCK
NET	PICOA0	LOC = "P59";
NET	PICOA1	LOC = "P60";
NET	PICOA2	LOC = "P61";

NET	PICOD<0>	LOC = "P64";
NET	PICOD<1>	LOC = "P63";
NET	PICOD<2>	LOC = "P53";
NET	PICOD<3>	LOC = "P50";
NET	PICOD<4>	LOC = "P52";
NET	PICOD<5>	LOC = "P54";
NET	PICOD<6>	LOC = "P55";
NET	PICOD<7>	LOC = "P56";

#NET	P63	LOC = "P64";
#NET	P64	LOC = "P63";
#NET	P65	LOC = "P53";
#NET	P66	LOC = "P50";
#NET	P67	LOC = "P52";
#NET	P68	LOC = "P54";
#NET	P70	LOC = "P55";
#NET	P71	LOC = "P56";

NET	PICOCLK	LOC = "P58";

#ADDRESS BLOCK	
NET	A<1>	LOC = "P20";
NET	A<2>	LOC = "P19";
NET	A<3>	LOC = "P14";
NET	A<4>	LOC = "P15";
NET	A<5>	LOC = "P17";
NET	A<6>	LOC = "P18";
NET	A<7>	LOC = "P25";
NET	A<8>	LOC = "P28";
NET	A<9>	LOC = "P24";
NET	A<10>	LOC = "P23";
NET	A<11>	LOC = "P29";
NET	A<12>	LOC = "P30";
NET	A<13>	LOC = "P32";
NET	A<14>	LOC = "P33";
NET	A<15>	LOC = "P34";
NET	A<16>	LOC = "P35";
NET	A<17>	LOC = "P36";
NET	A<18>	LOC = "P37";
NET	A<19>	LOC = "P39";
NET	A<20>	LOC = "P40";
NET	A<21>	LOC = "P41";
NET	A<22>	LOC = "P43";
NET	A<23>	LOC = "P42";
		
#DATA BLOCK
NET	D<0>	LOC = "P94";
NET	D<1>	LOC = "P93";
NET	D<2>	LOC = "P92";
NET	D<3>	LOC = "P91";
NET	D<4>	LOC = "P90";
NET	D<5>	LOC = "P89";
NET	D<6>	LOC = "P87";
NET	D<7>	LOC = "P86";
NET	D<8>	LOC = "P85";
NET	D<9>	LOC = "P82";
NET	D<10>	LOC = "P81";
NET	D<11>	LOC = "P80";
NET	D<12>	LOC = "P79";
NET	D<13>	LOC = "P78";
NET	D<14>	LOC = "P77";
NET	D<15>	LOC = "P76";

#Created by Constraints Editor (xc95144xl-tq100-10) - 2024/10/24
NET "OSC48" TNM_NET = OSC48;
TIMESPEC TS_OSC48 = PERIOD "OSC48" 48 MHz HIGH 50%;
